[user]
  name = dsatpm
  email = jeremiah@helloworlddevs.com

[difftool "opendiff"]
  cmd = /usr/bin/opendiff \"LOCAL\" \"REMOTE\" -merge \"MERGED\" | cat

[diff]
  tool = opendiff

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = master

[pull]
  default = current
  rebase = true

[merge]
  tool = opendiff

[diff]
  colorMoved = default

[maintenance]
  prune = true

[alias]
  lg = log --graph --pretty=format:"%C(yellow)%h%C(reset) %C(green)(%ar)%C(reset) %C(bold blue)%an%C(reset): %C(red)%s%C(reset)"
  amend = commit --amend -C HEAD
  undo = reset --soft HEAD~1

[includeIf "gitdir:~/work/"]
  path = ~/.work.gitconfig

[color]
  ui = auto
