parameters:
  level: 7
  paths:
    - modules/custom
    - themes/custom
    - web/wp-content/plugins
    - web/wp-content/themes
  bootstrapFiles:
    - vendor/autoload.php
includes:
  - %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
  - %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
